.navigator-item {
    font-size: 1em;
    color: var(--ion-color-dark);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color: var(--ion-color-light);
    gap: 0.2rem;
}

ion-list {
   background-color:  var(--ion-color-light);
   padding: 0;
}

ion-item {
    padding-right: 1rem;
}

.level1 {
    margin-left: 0;
    color: var(--ion-color-primary);
}

.level2 {
    margin-left: 1rem;
}

.level3 {
    margin-left: 2rem;
    
}

.level4 {
    margin-left: 3rem;
}

.level5 {
    margin-left: 4rem;
}

.level6 {
    margin-left: 5rem;
}

.team-name-cell {
    font-size: 0.9rem;
}

.row-odd {
    background-color: var(--ion-color-light);
}

.row-even {
    background-color: var(--ion-color-quaternary);
}
