<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="dynamic-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="league">{{ league.name }}</ion-title>
    <ion-title *ngIf="!league">Načítám ligu...</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="league" slot="end" fill="clear" (click)="toggleFavoriteItem(league, 'league')"
        [color]="isItemFavorite('league', league.id) ? 'danger' : 'medium'">
        <ion-icon [class]="isItemFavorite('league', league.id) ? 'heart-icon-active-light' : 'heart-icon-deactive'"
          [name]="isItemFavorite('league', league.id) ? 'heart-circle' : 'heart-circle-outline'"></ion-icon>
      </ion-button>
      <ion-back-button defaultHref="/tabs/league"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="nomp" *ngIf="league">
    <ion-grid class="ion-padding">
      <ion-row class="ion-align-items-center">
        <ion-col size="6rem">
          <ion-thumbnail class="prf">
            <img [src]="league.photoUrl" alt="{{ league.name }}" />
          </ion-thumbnail>
        </ion-col>
        <ion-col class="ion-padding">
          <ion-card-title>{{ league.name }}</ion-card-title>
          <ion-card-subtitle *ngIf="league.organization">{{ league.organization.name }}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-segment [(ngModel)]="selectedSegment" *ngIf="league" scrollable="true">
    <ion-segment-button value="results">
      Výsledky
    </ion-segment-button>
    <ion-segment-button value="matches">
      Program
    </ion-segment-button>
    <ion-segment-button value="table">
      Tabulka
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'results'">
      <div *ngIf="playedGames.length > 0">
        <app-game-list [games]="playedGames"></app-game-list>
      </div>
      <div *ngIf="isLoadingGames" class="loading-message">
        <ion-spinner name="bubbles"></ion-spinner>
        <p>Načítám zápasy...</p>
      </div>
      <p *ngIf="playedGames.length == 0 && league && !isLoadingGames" class="ion-text-center ion-padding">Žádné dostupné
        zápasy.</p>
    </div>

    <div *ngSwitchCase="'matches'">
      <div *ngIf="gamesToPlay.length > 0">
        <app-game-list [games]="gamesToPlay"></app-game-list>
      </div>
      <div *ngIf="isLoadingGames" class="loading-message">
        <ion-spinner name="bubbles"></ion-spinner>
        <p>Načítám zápasy...</p>
      </div>
      <p *ngIf="gamesToPlay.length == 0 && league && !isLoadingGames" class="ion-text-center ion-padding">Žádné dostupné
        zápasy.</p>
    </div>

    <div *ngSwitchCase="'table'">
      <div *ngIf="leagueTable.length > 0">
        <app-league-table [table]="leagueTable" [highlightIds]="[]"></app-league-table>
      </div>
      <div *ngIf="isLoadingTable" class="loading-message">
        <ion-spinner name="bubbles"></ion-spinner>
        <p>Načítám tabulku...</p>
      </div>
      <p *ngIf="leagueTable.length == 0 && league && !isLoadingTable" class="ion-text-center ion-padding">Tabulka není k
        dispozici.</p>
    </div>
  </div>
</ion-content>