<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="dynamic-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="team">{{ team.name }}</ion-title>
    <ion-title *ngIf="!team">Načítám tým...</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="team" slot="end" fill="clear" (click)="toggleFavorite(team, 'team')"
        [color]="isFavoriteItem('team', team.id) ? 'danger' : 'medium'">
        <ion-icon [class]="isFavoriteItem('team', team.id) ? 'heart-icon-active-light' : 'heart-icon-deactive'"
          name="heart"></ion-icon>
      </ion-button>
      <ion-back-button defaultHref="/tabs/team"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-grid class="ion-padding">
        <ion-row class="ion-align-items-center">
          <ion-col size="6rem">
            <ion-thumbnail class="prf" *ngIf="team">
              <img [src]="team.photoUrl" alt="{{ team.name }}" />
            </ion-thumbnail>
          </ion-col>
          <ion-col class="ion-padding" *ngIf="league && team">
            <ion-card-title>{{ team.name }}</ion-card-title>
            <ion-card-subtitle>{{ league.name }}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="results">
      Výsledky
    </ion-segment-button>
    <ion-segment-button value="matches">
      Program
    </ion-segment-button>
    <ion-segment-button value="table">
      Tabulka
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'results'">
      <ion-list *ngIf="gamesPlayed.length > 0">
        <ion-item *ngFor="let game of gamesPlayed">
          <ion-label>
            <ion-grid fixed="true">
              <ion-row>
                <ion-col class="ion-text-center">
                  <h2>{{ game.round_number }}. kolo - {{ game.date | date:'dd. MM. yyyy'}}</h2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-left flex-start" size="2rem">
                  <ion-thumbnail class="small fixed home">
                    <img [src]="game.homeTeam.photoUrl" alt="{{ game.homeTeam.name }}" />
                  </ion-thumbnail>
                </ion-col>
                <ion-col class="ion-text-left flex-start">
                  <p>{{ game.homeTeam.name }}</p>
                </ion-col>
                <ion-col class="ion-text-center" size="2rem">
                  <p class="result">{{ game.result }}</p>
                </ion-col>
                <ion-col class="ion-text-right flex-end">
                  <p>{{ game.awayTeam.name }}</p>
                </ion-col>
                <ion-col class="ion-text-right flex-end" size="2rem">
                  <ion-thumbnail class="small fixed away">
                    <img [src]="game.awayTeam.photoUrl" alt="{{ game.awayTeam.name }}" />
                  </ion-thumbnail>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-list>
      <h3 *ngIf="gamesPlayed.length == 0" class="ion-text-center ion-padding">Načítám výsledky...</h3>
    </div>
    <div *ngSwitchCase="'matches'">
      <ion-list *ngIf="gamesToPlay.length > 0">
        <ion-item *ngFor="let game of gamesToPlay">
          <ion-label>
            <ion-grid fixed="true">
              <ion-row>
                <ion-col class="ion-text-center">
                  <h2>{{ game.round_number }}. kolo - {{ game.date | date:'dd. MM. yyyy'}}</h2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-left flex-start" size="2rem">
                  <ion-thumbnail class="small fixed home">
                    <img [src]="game.homeTeam.photoUrl" alt="{{ game.homeTeam.name }}" />
                  </ion-thumbnail>
                </ion-col>
                <ion-col class="ion-text-left flex-start">
                  <p>{{ game.homeTeam.name }}</p>
                </ion-col>
                <ion-col class="ion-text-center" size="2rem">
                  <p class="result">{{ game.date | date:'HH:mm'}}</p>
                </ion-col>
                <ion-col class="ion-text-right flex-end">
                  <p>{{ game.awayTeam.name }}</p>
                </ion-col>
                <ion-col class="ion-text-right flex-end" size="2rem">
                  <ion-thumbnail class="small fixed away">
                    <img [src]="game.awayTeam.photoUrl" alt="{{ game.awayTeam.name }}" />
                  </ion-thumbnail>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-list>
      <h3 *ngIf="gamesToPlay.length == 0" class="ion-text-center ion-padding">Načítám zápasy...</h3>
    </div>
    <div *ngSwitchCase="'table'">
      <ion-list *ngIf="leagueTable.length > 0" class="ion-non-padding nomg">
        <ion-item class="ion-non-padding tabhead">
        <ion-grid fixed="true">
          <ion-row class="ion-justify-content-center">
            <ion-col size="1.2">
              <p class="ion-text-center">#</p>
            </ion-col>
            <ion-col size="2rem">
              <p class="ion-text-center"></p>
            </ion-col>
            <ion-col>
              <p class="ion-padding-left">Tým</p>
            </ion-col>
            <ion-col size="1">
              <p class="ion-text-center">Z</p>
            </ion-col>
            <ion-col size="2">
              <p class="ion-text-center">Skóre</p>
            </ion-col>
            <ion-col size="1">
              <p class="ion-text-center">B</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-item>
        <ion-item *ngFor="let team of leagueTable; let i = index">
          <ion-grid fixed="true">
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col size="1.2" class="colcol">
                <p class="ion-text-center">{{ i + 1 }}.</p>
              </ion-col>
              <ion-col size="2rem" >
                <ion-thumbnail class="small fixed">
                  <img [src]="team.photoUrl" alt="{{ team.name }}" />
                </ion-thumbnail>
              </ion-col>
              <ion-col>
                <p class="ion-padding-left">{{ team.name }}</p>
              </ion-col>
              <ion-col size="1">
                <p class="ion-text-center">{{ team.gamesPlayed }}</p>
              </ion-col>
              <ion-col size="2">
                <p class="ion-text-center">{{ team.goalsFor }}:{{ team.goalsAgainst }}</p>
              </ion-col>
              <ion-col size="1">
                <p class="ion-text-center">{{ team.points }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <h3 *ngIf="leagueTable.length == 0" class="ion-text-center ion-padding">Načítám tabulku...</h3>
    </div>
  </div>
</ion-content>