ion-thumbnail.prf {
    height: 6rem;
    width: 6rem;
}

ion-card {
    padding: 0;
    margin: 0;
}

.cardhdr {
    display: flex;
    align-items: left;
}


ion-thumbnail.small {
    height: 2rem;
    width: 2rem;
}

p.result {
    font-size: 1rem;
    font-weight: bold;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
  }

.flex-end {
    display: flex;
    justify-content: flex-end;
  }

  .tabhead {
    --background: lightgray;
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
}

.tabhead ion-grid {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.nomg {
    margin-top: 0;
    padding-top: 0;
}

.colcol {
    font-weight: bold;
    color: var(--ion-color-primary);
}

.ion-palette-dark {
    .colcol {
        color: var(--ion-color-secondary);
    }

    .tabhead {
        --background: var(--ion-color-primary);
    }
}