<!-- Výpis organizací -->
<ng-container *ngFor="let org of organizations">

  <!-- Speciální organizace (Celostátní, Čechy, Morava) -->
  <ng-container *ngIf="specialOrganizations.includes(org.name)">
    <div class="navigator-item level1" (click)="toggleItem('organization', org.id)">
      <ion-label>{{ org.name }}</ion-label>
      <ion-icon [name]="isItemOpen.organization[org.id] ? 'chevron-up' : 'chevron-down'" slot="end">
      </ion-icon>
    </div>

    <!-- Soutěže pod organizací Celostátní, Čechy, Morava -->
    <ng-container *ngIf="isItemOpen.organization[org.id]">
      <ion-list>
        <div *ngFor="let league of getLeaguesByOrganization(org.id)" (click)="onItemClick($event, league, 'league')"
          class="level2 team-grid">
          <ion-item button>
            <ion-grid class="nomp">
              <ion-row class="league-row">
                <ion-col size="auto">
                  <div class="square-cell square-logo">
                    <ion-thumbnail class="small fixed">
                      <img [src]="league.photoUrl" alt="{{ league.name }}" />
                    </ion-thumbnail>
                  </div>
                </ion-col>
                <ion-col class="team-name-cell">
                  {{ league.name }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </ion-list>
    </ng-container>
  </ng-container>

  <!-- Kraj -->
  <ng-container *ngIf="!specialOrganizations.includes(org.name) && org.name === 'Kraj'">
    <div class="navigator-item level1" (click)="toggleItem('organization', org.id)">
      <ion-label>Krajské</ion-label>
      <ion-icon [name]="isItemOpen.organization[org.id] ? 'chevron-up' : 'chevron-down'" slot="end">
      </ion-icon>
    </div>

    <!-- Kraje -->
    <ng-container *ngIf="isItemOpen.organization[org.id]">
      <ng-container *ngFor="let region of regions">
        <div class="navigator-item level2" (click)="toggleItem('region', region.id)">
          <ion-label>{{ region.name }}</ion-label>
          <ion-icon [name]="isItemOpen.region[region.id] ? 'chevron-up' : 'chevron-down'" slot="end">
          </ion-icon>
        </div>

        <!-- Soutěže v kraji -->
        <ng-container *ngIf="isItemOpen.region[region.id] && org.name === 'Kraj'">
          <ion-list>
            <div *ngFor="let league of getLeaguesByRegion(region.id)" (click)="onItemClick($event, league, 'league')"
              class="level3 team-grid">
              <ion-item button>
                <ion-grid class="nomp">
                  <ion-row class="league-row">
                    <ion-col size="auto">
                      <div class="square-cell square-logo">
                        <ion-thumbnail class="small fixed">
                          <img [src]="league.photoUrl" alt="{{ league.name }}" />
                        </ion-thumbnail>
                      </div>
                    </ion-col>
                    <ion-col class="team-name-cell">
                      {{ league.name }}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>
          </ion-list>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- Okres -->
  <ng-container *ngIf="!specialOrganizations.includes(org.name) && org.name === 'Okres'">
    <div class="navigator-item level1" (click)="toggleItem('organization', org.id)">
      <ion-label>Okresní</ion-label>
      <ion-icon [name]="isItemOpen.organization[org.id] ? 'chevron-up' : 'chevron-down'" slot="end">
      </ion-icon>
    </div>

    <!-- Kraje -->
    <ng-container *ngIf="isItemOpen.organization[org.id]">
      <ng-container *ngFor="let region of regions">
        <div class="navigator-item level2" (click)="toggleItem('regionUnderDistricts', region.id)">
          <ion-label> {{ region.name }}</ion-label>
          <ion-icon [name]="isItemOpen.regionUnderDistricts[region.id] ? 'chevron-up' : 'chevron-down'" slot="end">
          </ion-icon>
        </div>

        <!-- Okresy v kraji -->
        <ng-container *ngIf="isItemOpen.regionUnderDistricts[region.id] && org.name === 'Okres'">
          <ng-container *ngFor="let district of getDistrictsByRegion(region.id)">
            <div class="navigator-item level3" (click)="toggleItem('district', district.id)">
              <ion-label>{{ district.name }}</ion-label>
              <ion-icon [name]="isItemOpen.district[district.id] ? 'chevron-up' : 'chevron-down'" slot="end">
              </ion-icon>
            </div>

            <!-- Soutěže pod okresy -->
            <ng-container *ngIf="isItemOpen.district[district.id]">
              <ion-list>
                <div *ngFor="let league of getLeaguesByDistrict(district.id)"
                  (click)="onItemClick($event, league, 'league')" class="level4 team-grid">
                  <ion-item button>
                    <ion-grid class="nomp">
                      <ion-row class="league-row">
                        <ion-col size="auto">
                          <div class="square-cell square-logo">
                            <ion-thumbnail class="small fixed">
                              <img [src]="league.photoUrl" alt="{{ league.name }}" />
                            </ion-thumbnail>
                          </div>
                        </ion-col>
                        <ion-col class="team-name-cell">
                          {{ league.name }}
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </div>
              </ion-list>
            </ng-container>

          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>