<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/teams">
      <ion-icon aria-hidden="true" name="football-outline"></ion-icon>
      <ion-label>Týmy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/divisions">
      <ion-icon aria-hidden="true" name="git-branch-outline"></ion-icon>
      <ion-label>Soutěže</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/players">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Hráči</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Nastavení</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
