::ng-deep .custom-date-modal {
    --background: transparent;
    --backdrop-opacity: 0.4;
    --box-shadow: none;
  }

ion-picker {
  --background: var(--ion-color-theme-bg);
}

ion-datetime {
  --wheel-highlight-background: var(--ion-color-theme-bg-secondary);
  --background: var(--ion-color-theme-bg);

  --wheel-fade-background: var(--ion-color-theme-bg);
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
