<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="dynamic-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Zápasy
      </ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="'../../search'">
          <ion-icon slot="icon-only" name="search" class="color-light"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card class="nomp">
      <ion-card-header>
        <ion-button (click)="isDateModalOpen = true">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          {{ selectedDate | date: 'dd.MM.yyyy' }}
        </ion-button>
      </ion-card-header>
    </ion-card>
    <div *ngIf="isLoading" class="loading-message">
      <ion-spinner name="bubbles"></ion-spinner>
      <p>Načítám zápasy...</p>
    </div>
    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="games | keyvalue as leagues">
        <ng-container *ngFor="let league of leagues">
          <div class="ion-text-center full-head">{{ league.key }}</div>
          <app-game-list [games]="league.value"></app-game-list>
        </ng-container>
      </ng-container>
    </ng-container>
    <p *ngIf="hasNoGames" class="ion-text-center ion-padding">
      Tento den se nehrají žádná utkání.
    </p>
  </ion-content>

  <ion-modal [isOpen]="isDateModalOpen" (didDismiss)="isDateModalOpen = false" cssClass="custom-date-modal">
    <ng-template>
      <div class="centered-container">
        <ion-datetime presentation="date" [value]="selectedDate" (ionChange)="onDateChange($event)"
          show-default-buttons="true" done-text="OK" cancel-text="Zrušit" class="ion-margin">
        </ion-datetime>
      </div>
    </ng-template>
  </ion-modal>
</ion-app>