<ion-menu content-id="divisions-content" menu-id="divisions-menu" (ionDidOpen)="onMenuOpened()">
  <ion-header>
    <ion-toolbar>
      <ion-title>Oblíbené soutěže</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="favoriteLeagues.length > 0; else noFavorites">
      <ion-item *ngFor="let league of favoriteLeagues" (click)="onItemClick($event, league)">
        <ion-thumbnail slot="start">
          <img [src]="league.photoUrl" alt="{{ league.name }}" />
        </ion-thumbnail>
        <ion-label>{{ league.name }}</ion-label>
        <ion-button slot="end" fill="clear" (click)="toggleFavorite(league, 'league')" color="danger">
          <ion-icon class="heart-icon-active" name="heart"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ng-template #noFavorites>
      <p class="ion-padding">Nemáte žádné oblíbené soutěže.</p>
    </ng-template>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="divisions-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Soutěže
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/search'">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="divisions-content">
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Soutěže</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-content>
</div>