<ion-menu content-id="teams-content" menu-id="teams-menu" (ionDidOpen)="onMenuOpened()">
  <ion-header>
    <ion-toolbar>
      <ion-title>Oblíbené týmy</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="favoriteTeams.length > 0; else noFavorites">
      <ion-item *ngFor="let team of favoriteTeams" (click)="onItemClick($event, team)">
        <ion-thumbnail slot="start">
          <img [src]="team.photoUrl" alt="{{ team.name }}" />
        </ion-thumbnail>
        <ion-label>{{ team.name }}</ion-label>
        <ion-button slot="end" fill="clear" (click)="toggleFavorite(team, 'team')" color="danger">
          <ion-icon class="heart-icon-active" name="heart"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ng-template #noFavorites>
      <p class="ion-padding">Nemáte žádné oblíbené týmy.</p>
    </ng-template>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="teams-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Týmy
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/search'">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="teams-content">
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Týmy</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-content>
</div>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-searchbar placeholder="Hledat tým..." [(ngModel)]="searchQuery" (ionInput)="onSearchInput()"
        ></ion-searchbar>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="filteredResults.length > 0">
        <ion-item *ngFor="let result of filteredResults" (click)="onItemClick($event, result)">
          <ion-thumbnail slot="start">
            <img [src]="result.photoUrl" alt="{{ result.name }}" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ result.name }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Oblíbené týmy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="favoriteTeams.length > 0; else noFavorites">
        <ion-item *ngFor="let team of favoriteTeams" (click)="onItemClick($event, team)">
          <ion-thumbnail slot="start">
            <img [src]="team.photoUrl" alt="{{ team.name }}" />
          </ion-thumbnail>
          <ion-label>{{ team.name }}</ion-label>
        </ion-item>
      </ion-list>
      <ng-template #noFavorites>
        <p class="ion-padding">Nemáte žádné oblíbené týmy.</p>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>