<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="dynamic-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="player">{{ player.first_name }} {{ player.second_name }}</ion-title>
    <ion-title *ngIf="!player">Načítám hráče...</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="player" slot="end" fill="clear" (click)="toggleFavorite(player, 'player')"
        [color]="isFavoriteItem('player', player.id) ? 'danger' : 'medium'">
        <ion-icon [class]="isFavoriteItem('player', player.id) ? 'heart-icon-active-light' : 'heart-icon-deactive'"
          name="heart"></ion-icon>
      </ion-button>
      <ion-back-button defaultHref="/tabs/player"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid class="ion-padding">
      <ion-row class="ion-align-items-center">
        <ion-col size="6rem">
          <ion-thumbnail class="prf" *ngIf="player">
            <img [src]="player.photoUrl" alt="{{ player.name }}" />
          </ion-thumbnail>
        </ion-col>
        <ion-col class="ion-padding" *ngIf="player && team">
          <ion-card-title>{{ player.first_name}} {{ player.second_name }}</ion-card-title>
          <ion-card-subtitle>{{ team.name }}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="results">
      Odehrané zápasy
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'results'">
      <ion-list *ngIf="games && !isLoading">
        <ion-item *ngFor="let game of games" class="no-border" (click)="goToGameDetail(game.id)">
          <ion-grid fixed="true" class="p-nomar">
            <div class="shadow-box">
              <ion-row class="roundanddate">
                <ion-col size="6" class="ion-text-left">
                  <p>{{ game.round_number }}. kolo</p>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                  <p>{{ game.date | date:'dd. MM. yyyy'}}</p>
                </ion-col>

              </ion-row>
              <ion-row class="ion-align-items-center main-info">

                <ion-col size="auto">
                  <div class="square-cell square-logo">
                    <ion-thumbnail class="small fixed">
                      <img [src]="game.homeTeam.photoUrl" alt="{{ game.homeTeam.name }}" />
                    </ion-thumbnail>
                  </div>
                </ion-col>

                <ion-col class="team-name-cell">
                  {{ game.homeTeam.name }}
                </ion-col>

                <ion-col size="auto">
                  <div class="square-cell square-double">
                    <p class="result">{{ game.result }}</p>
                  </div>
                </ion-col>

                <ion-col class="team-name-cell tnc-away ion-text-right">
                  {{ game.awayTeam.name }}
                </ion-col>

                <ion-col size="auto">
                  <div class="square-cell square-logo">
                    <ion-thumbnail class="small fixed">
                      <img [src]="game.awayTeam.photoUrl" alt="{{ game.awayTeam.name }}" />
                    </ion-thumbnail>
                  </div>
                </ion-col>

              </ion-row>
              <div class="stats">
                <ion-row class="player-stats">
                  <ion-col [ngClass]="player.team_id === game.home_team_id ? 'home-flex' : 'away-flex'">
                      <ion-icon name="person"></ion-icon>
                      <span class="text">{{ game.role }}</span>
                  </ion-col>
                </ion-row>
                <ion-row class="player-stats">
                  <ion-col [ngClass]="player.team_id === game.home_team_id ? 'home-flex' : 'away-flex'">
                      <ion-icon name="football"></ion-icon>
                      <span class="text">{{ game.playerGoalsCount > 0 ? game.playerGoalsMinutes : '-' }}</span>
                  </ion-col>
                </ion-row>
                <ion-row class="player-stats">
                  <ion-col [ngClass]="player.team_id === game.home_team_id ? 'home-flex' : 'away-flex'">
                      <ion-icon name="tablet-portrait" class="yellow"></ion-icon>
                      <span class="text">-</span>
                  </ion-col>
                </ion-row>
                <ion-row class="player-stats">
                  <ion-col [ngClass]="player.team_id === game.home_team_id ? 'home-flex' : 'away-flex'">
                      <ion-icon name="tablet-portrait" class="red"></ion-icon>
                      <span class="text">-</span>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-grid>
        </ion-item>
      </ion-list>
      <h3 *ngIf="!games || isLoading" class="ion-text-center ion-padding">Načítám zápasy...</h3>
    </div>
  </div>
</ion-content>