<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="dynamic-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="player">{{ player.first_name }} {{ player.second_name }}</ion-title>
    <ion-title *ngIf="!player">Načítám hráče...</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="player" slot="end" fill="clear" (click)="toggleFavorite(player, 'player')"
        [color]="isFavoriteItem('player', player.id) ? 'danger' : 'medium'">
        <ion-icon [class]="isFavoriteItem('player', player.id) ? 'heart-icon-active-light' : 'heart-icon-deactive'"
          [name]="isFavoriteItem('player', player.id) ? 'heart-circle' : 'heart-circle-outline'"></ion-icon>
      </ion-button>
      <ion-back-button defaultHref="/tabs/player"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="nomp">
    <ion-grid class="ion-padding">
      <ion-row class="ion-align-items-center">
        <ion-col size="6rem">
          <ion-thumbnail class="prf" *ngIf="player">
            <img [src]="player.photoUrl" alt="{{ player.name }}" />
          </ion-thumbnail>
        </ion-col>
        <ion-col class="ion-padding" *ngIf="player && team">
          <ion-card-title>{{ player.first_name}} {{ player.second_name }}</ion-card-title>
          <ion-card-subtitle>{{ team.name }}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-segment [(ngModel)]="selectedSegment" *ngIf="player" scrollable="true">
    <ion-segment-button value="results">
      Zápasy
    </ion-segment-button>
    <ion-segment-button value="info">
      Informace
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'results'">
      <ion-list *ngIf="games.length > 0 && !isLoadingGames">
        <ion-item *ngFor="let game of games" class="no-border" (click)="goToGameDetail(game.id)" button>
          <ion-grid fixed="true" class="p-nomar">
            <div class="shadow-box">
              <ion-row class="roundanddate">
                <ion-col size="6" class="ion-text-left">
                  <p>{{ game.round_number }}. kolo</p>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                  <p>{{ game.date | date:'d. M. yyyy'}}</p>
                </ion-col>

              </ion-row>
              <div class="main-info">
                <ion-row class="ion-align-items-center">

                  <ion-col size="auto">
                    <div class="square-cell square-logo">
                      <ion-thumbnail class="small fixed">
                        <img [src]="game.homeTeam.photoUrl" alt="{{ game.homeTeam.name }}" />
                      </ion-thumbnail>
                    </div>
                  </ion-col>

                  <ion-col class="team-name-cell">
                    {{ game.homeTeam.name }}
                  </ion-col>

                  <ion-col size="auto">
                    <div class="square-cell square-double">
                      <p class="result">{{ game.result }}</p>
                    </div>
                  </ion-col>

                  <ion-col class="team-name-cell tnc-away ion-text-right">
                    {{ game.awayTeam.name }}
                  </ion-col>

                  <ion-col size="auto">
                    <div class="square-cell square-logo">
                      <ion-thumbnail class="small fixed">
                        <img [src]="game.awayTeam.photoUrl" alt="{{ game.awayTeam.name }}" />
                      </ion-thumbnail>
                    </div>
                  </ion-col>

                </ion-row>

                <ion-row class="player-stats stats-start">
                  <ion-col [ngClass]="game.homeOrAway === 'home' ? 'home-flex' : 'away-flex'">
                    <ion-icon name="person"></ion-icon>
                    <span class="text">{{ game.role }}</span>
                  </ion-col>
                </ion-row>
                <ion-row class="player-stats" *ngIf="game.playerGoalsCount > 0">
                  <ion-col [ngClass]="player.team_id === game.home_team_id ? 'home-flex' : 'away-flex'">
                    <ion-icon name="football"></ion-icon>
                    <span class="text">{{ game.playerGoalsMinutes }}</span>
                  </ion-col>
                </ion-row>
                <ion-row class="player-stats" *ngIf="game.yellowCardCount > 0">
                  <ion-col [ngClass]="player.team_id === game.home_team_id ? 'home-flex' : 'away-flex'">
                    <ion-icon name="tablet-portrait" class="yellow"></ion-icon>
                    <span class="text">{{ game.yellowCardMinutes }}</span>
                  </ion-col>
                </ion-row>
                <ion-row class="player-stats" *ngIf="game.secondYellowCardCount > 0">
                  <ion-col [ngClass]="player.team_id === game.home_team_id ? 'home-flex' : 'away-flex'">
                    <div class="icon-wrapper">
                      <ion-icon name="tablet-portrait" class="top-half yellow"></ion-icon>
                      <ion-icon name="tablet-portrait" class="bottom-half red"></ion-icon>
                    </div>
                    <span class="text">{{ game.secondYellowCardMinutes }}</span>
                  </ion-col>
                </ion-row>
                <ion-row class="player-stats" *ngIf="game.redCardCount > 0">
                  <ion-col [ngClass]="player.team_id === game.home_team_id ? 'home-flex' : 'away-flex'">
                    <ion-icon name="tablet-portrait" class="red"></ion-icon>
                    <span class="text">{{ game.redCardMinutes }}</span>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-grid>
        </ion-item>
      </ion-list>
      <div *ngIf="isLoadingGames" class="loading-message">
        <ion-spinner name="bubbles"></ion-spinner>
        <p>Načítám zápasy...</p>
      </div>
      <p *ngIf="games.length == 0 && player && !isLoadingGames" class="ion-text-center ion-padding">Žádné dostupné
        zápasy.</p>
    </div>

    <div *ngSwitchCase="'info'">
      <div *ngIf="!isLoadingInfo">
        <h2 class="tabhead nomp ion-text-center">Datum narození</h2>
        <p class="nomar ion-padding">{{ player.birth_date | date:'d. M. yyyy' }}</p>
        <h2 class="tabhead nomp ion-text-center">Věk</h2>
        <p class="nomar ion-padding">{{ getPlayerAge(player.birth_date) }} let</p>
        <h2 class="tabhead nomp ion-text-center">Datum registrace</h2>
        <p class="nomar ion-padding">{{ player.registration_date | date:'d. M. yyyy' }}</p>
        <h2 class="tabhead nomp ion-text-center">Člen</h2>
        <p class="nomar ion-padding">{{ player.active ? 'Aktivní' : 'Neaktivní' }}</p>
        <h2 class="tabhead nomp ion-text-center">Status</h2>
        <p class="nomar ion-padding">{{ player.status }}</p>
        <h2 class="tabhead nomp ion-text-center">Mateřský klub</h2>
        <ion-grid class="nomp" *ngIf="motherClubData">
          <ion-row class="table-team" (click)="onItemClick($event, motherClubData.club, 'team')">
            <div class="ripple-wrapper ion-activatable ripple-parent half-padding">
              <ion-col size="auto">
                <div class="square-cell square-logo">
                  <ion-thumbnail class="small fixed">
                    <img [src]="motherClubData.logoUrl" alt="{{ motherClubData.name }}" />
                  </ion-thumbnail>
                </div>
              </ion-col>

              <ion-col class="team-name-cell">
                {{ motherClubData.name }}
              </ion-col>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="isLoadingInfo" class="loading-message">
        <ion-spinner name="bubbles"></ion-spinner>
        <p>Načítám informace...</p>
      </div>
    </div>
  </div>
</ion-content>