<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="game && game.homeTeam && game.awayTeam">{{ game.homeTeam.name }} - {{ game.awayTeam.name
      }}</ion-title>
    <ion-title *ngIf="!game || !game.homeTeam || !game.awayTeam">Načítám zápas...</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/tabs/games"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="game && !isLoading" class="nomp">
    <ion-grid class="p-nomar">
      <ion-row class="league-row" (click)="onItemClick($event, game.league, 'league')">
        <ion-col size="auto">
          <div class="square-cell square-logo">
            <ion-thumbnail class="small fixed">
              <img [src]="game.leaguePhotoUrl" alt="{{ game.league.name }}" />
            </ion-thumbnail>
          </div>
        </ion-col>
        <ion-col class="team-name-cell">
          {{ game.league.name }}
        </ion-col>
        <ion-col class="ion-text-right league-round" size="4">
          {{ game.round_number }}. kolo
        </ion-col>
      </ion-row>

      <ion-row class="tabhead">
        <ion-col class="ion-text-center date-time-cell">
          <span class="date-time-inner-cell"><ion-icon name="calendar"></ion-icon>{{ game.date | date:'d. M.
            yyyy'}}</span><span class="date-time-inner-cell"><ion-icon name="time"></ion-icon>{{ game.date |
            date:'HH:mm' }}</span><span class="date-time-inner-cell"><ion-icon name="storefront"></ion-icon>{{
            game.stadiumName }}</span>
        </ion-col>
      </ion-row>

      <div class="ion-padding">
        <ion-row class="ion-align-items-center">
          <ion-col (click)="onItemClick($event, game.homeTeam, 'team')" class="square-logo-game">
            <ion-thumbnail class="big fixed">
              <img [src]="game.homeTeam.photoUrl" alt="{{ game.homeTeam.name }}" />
            </ion-thumbnail>
          </ion-col>
          <ion-col class="score-cell middle-sc" *ngIf="game.score_home !== null && game.score_away !== null">
            <div class="single-score-cell">
              <p class="p-nopad">{{ game.score_home }}</p>
            </div>
            <div class="double-dots">
              <span>:</span>
            </div>
            <div class="single-score-cell">
              <p class="p-nopad">{{ game.score_away }}</p>
            </div>
          </ion-col>

          <ion-col class="score-cell middle-sc" *ngIf="game.score_home == null || !game.score_away == null">
            <div class="double-dots">
              <span>-</span>
            </div>
          </ion-col>
          <ion-col (click)="onItemClick($event, game.awayTeam, 'team')" class="square-logo-game">
            <ion-thumbnail class="big fixed">
              <img [src]="game.awayTeam.photoUrl" alt="{{ game.awayTeam.name }}" />
            </ion-thumbnail>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="onItemClick($event, game.homeTeam, 'team')" class="team-name-game">
            <p>{{ game.homeTeam.name }}</p>
          </ion-col>
          <ion-col class="middle-sc">

          </ion-col>
          <ion-col (click)="onItemClick($event, game.awayTeam, 'team')" class="team-name-game">
            <p>{{ game.awayTeam.name }}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-card>
  <div *ngIf="isLoading" class="loading-message">
    <ion-spinner name="bubbles"></ion-spinner>
    <p>Načítám zápas...</p>
  </div>
  <ion-segment [(ngModel)]="selectedSegment" *ngIf="game && !isLoading" scrollable="true">
    <ion-segment-button value="events">
      Události
    </ion-segment-button>
    <ion-segment-button value="squadlist">
      Sestavy
    </ion-segment-button>
    <ion-segment-button value="table">
      Tabulka
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'events'">
      <div class="shadow-box no-round">
        <h2 class="tabhead nomp ion-text-center" *ngIf="game && game.result != null && !isLoadingEvents">1. poločas</h2>
        <ion-list *ngIf="firstHalfEvents.length > 0" class="nomp">
          <ion-item *ngFor="let event of firstHalfEvents; let i = index;"
            (click)="onItemClick($event, event.player, 'player')"
            [ngClass]="{'row-even': i % 2 === 0, 'row-odd': i % 2 !== 0 }" button>
            <div [ngClass]="event.homeOrAway === 'home' ? 'goal-home' : 'goal-away'">
              <span class="text-event fixed-width">{{ event.minute }}'</span>
              <div class="icon-wrapper fixed-width">
                <ion-icon *ngIf="event.type == 'goal'" name="football"></ion-icon>
                <ion-icon *ngIf="event.type == 'yellow'" name="tablet-portrait" class="yellow"></ion-icon>
                <ion-icon *ngIf="event.type == 'red'" name="tablet-portrait" class="red"></ion-icon>
                <ion-icon *ngIf="event.type == 'second_yellow'" name="tablet-portrait"
                  class="top-half yellow"></ion-icon>
                <ion-icon *ngIf="event.type == 'second_yellow'" name="tablet-portrait"
                  class="bottom-half red"></ion-icon>
              </div>
              <span class="text-event auto-width">{{ event.playerName }}</span>
            </div>
          </ion-item>
        </ion-list>
        <p class="ion-padding info-text ion-text-center"
          *ngIf="game && game.result != null && firstHalfEvents.length === 0 && !isLoadingEvents">-</p>

        <h2 class="tabhead nomp ion-text-center" *ngIf="game && game.result && !isLoadingEvents">2. poločas</h2>
        <ion-list *ngIf="secondHalfEvents.length > 0" class="nomp">
          <ion-item *ngFor="let event of secondHalfEvents; let i = index;"
            (click)="onItemClick($event, event.player, 'player')"
            [ngClass]="{'row-even': i % 2 === 0, 'row-odd': i % 2 !== 0 }" button>
            <div [ngClass]="event.homeOrAway === 'home' ? 'goal-home' : 'goal-away'">
              <span class="text-event">{{ event.minute }}'</span>
              <div class="icon-wrapper">
                <ion-icon *ngIf="event.type == 'goal'" name="football"></ion-icon>
                <ion-icon *ngIf="event.type == 'yellow'" name="tablet-portrait" class="yellow"></ion-icon>
                <ion-icon *ngIf="event.type == 'red'" name="tablet-portrait" class="red"></ion-icon>
                <ion-icon *ngIf="event.type == 'second_yellow'" name="tablet-portrait"
                  class="top-half yellow"></ion-icon>
                <ion-icon *ngIf="event.type == 'second_yellow'" name="tablet-portrait"
                  class="bottom-half red"></ion-icon>
              </div>
              <span class="text-event">{{ event.playerName }}</span>
            </div>
          </ion-item>

        </ion-list>
        <p class="ion-padding info-text ion-text-center"
          *ngIf="game && game.result && secondHalfEvents.length === 0 && !isLoadingEvents">-</p>

        <h2 class="tabhead nomp ion-text-center" *ngIf="game && !isLoadingEvents && game.result">Informace</h2>
        <p class="ion-padding info-text" *ngIf="game && !isLoadingEvents && game.result">Počet diváků: {{ game.visitors
          }}</p>
      </div>

      <div *ngIf="game && !isLoadingEvents && game.result && allEvents.length > 0" class="symbol-description">
        <div class="table-description" *ngIf="allGoals.length > 0">
          <div class="icon-wrapper">
            <ion-icon name="football"></ion-icon>
          </div>
          <span class="text">Gól</span>

        </div>
        <div class="table-description" *ngIf="allYellowCards.length > 0">
          <div class="icon-wrapper">
            <ion-icon name="tablet-portrait" class="yellow"></ion-icon>
          </div>
          <span class="text">Žlutá karta</span>

        </div>
        <div class="table-description" *ngIf="allSecondYellowCards.length > 0">
          <div class="icon-wrapper">
            <ion-icon name="tablet-portrait" class="top-half yellow"></ion-icon>
            <ion-icon name="tablet-portrait" class="bottom-half red"></ion-icon>
          </div>
          <span class="text">Druhá žlutá karta</span>
        </div>
        <div class="table-description" *ngIf="allRedCards.length > 0">
          <div class="icon-wrapper">
            <ion-icon name="tablet-portrait" class="red"></ion-icon>
          </div>
          <span class="text">Červená karta</span>
        </div>
      </div>

      <div *ngIf="isLoadingEvents && !isLoading" class="loading-message">
        <ion-spinner name="bubbles"></ion-spinner>
        <p>Načítám události...</p>
      </div>
      <p *ngIf="allEvents.length === 0 && game && game.homeTeam && game.awayTeam && !game.result && !isLoadingEvents && !isLoading"
        class="ion-text-center ion-padding">Informace nejsou k dispozici.</p>
    </div>

    <div *ngSwitchCase="'squadlist'">
      <ion-grid
        *ngIf="homeStarters.length > 0 && homeBench.length > 0 && awayStarters.length > 0 && awayBench.length > 0 && !isLoadingSquadlist"
        class="nomp shadow-box">

        <ion-row class="tabhead">
          <ion-col class="ion-text-center">
            základní sestava
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let i of startersIndexes; let idx = index" class="squad-names"
          [ngClass]="{ 'row-even': idx % 2 === 0, 'row-odd': idx % 2 !== 0 }">
          <ion-col size="auto" *ngIf="homeStarters[i]">
            <div class="square-cell square-squad">
              <ion-icon [name]="getIconNameByPosition(homeStarters[i].position)"
                [ngClass]="homeStarters[i].position ? homeStarters[i].position : 'unknown'"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="auto" *ngIf="homeStarters[i]" (click)="onItemClick($event, homeStarters[i].player, 'player')">
            <div class="square-cell square-squad">
              {{ homeStarters[i].jersey_number }}
            </div>
          </ion-col>
          <ion-col *ngIf="homeStarters[i]" class="squad-name-home p-nopad p-nomar"
            (click)="onItemClick($event, homeStarters[i].player, 'player')">
            <span class="text">
              <div class="ripple-wrapper ion-activatable ripple-parent">{{ homeStarters[i].player.first_name }} {{
                homeStarters[i].player.second_name }}<ion-ripple-effect></ion-ripple-effect>
              </div>
            </span>
            <span class="text ion-text-left" *ngIf="homeStarters[i].captain">(C)</span>
          </ion-col>

          <ion-col *ngIf="awayStarters[i]" class="squad-name-away p-nopad p-nomar"
            (click)="onItemClick($event, awayStarters[i].player, 'player')">
            <span class="text ion-text-right" *ngIf="awayStarters[i].captain">(C)</span>
            <span class="text">
              <div class="ripple-wrapper ion-activatable ripple-parent">{{ awayStarters[i].player.first_name }} {{
                awayStarters[i].player.second_name }}<ion-ripple-effect></ion-ripple-effect>
              </div>
            </span>
          </ion-col>
          <ion-col size="auto" *ngIf="awayStarters[i]" (click)="onItemClick($event, awayStarters[i].player, 'player')">
            <div class="square-cell square-squad">
              {{ awayStarters[i].jersey_number }}
            </div>
          </ion-col>
          <ion-col size="auto" *ngIf="awayStarters[i]">
            <div class="square-cell square-squad">
              <ion-icon [name]="getIconNameByPosition(awayStarters[i].position)"
                [ngClass]="awayStarters[i].position ? awayStarters[i].position : 'unknown'"></ion-icon>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="tabhead">
          <ion-col class="ion-text-center">
            náhradníci
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let i of benchersIndexes let idx = index" class="squad-names"
          [ngClass]="{ 'row-even': idx % 2 === 0, 'row-odd': idx % 2 !== 0 }">
          <ion-col size="auto" *ngIf="homeBench[i]">
            <div class="square-cell square-squad">
              <ion-icon [name]="getIconNameByPosition(homeBench[i].position)"
                [ngClass]="homeBench[i].position ? homeBench[i].position : 'unknown'"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="auto" *ngIf="homeBench[i]" (click)="onItemClick($event, homeBench[i].player, 'player')">
            <div class="square-cell square-squad">
                {{ homeBench[i].jersey_number }}
            </div>
          </ion-col>
          <ion-col *ngIf="homeBench[i]" class="squad-name-home"
            (click)="onItemClick($event, homeBench[i].player, 'player')">
            <span class="text">
              <div class="ripple-wrapper ion-activatable ripple-parent">
                {{ homeBench[i].player.first_name }} {{ homeBench[i].player.second_name }}
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </span>
          </ion-col>

          <ion-col *ngIf="awayBench[i]" class="squad-name-away"
            (click)="onItemClick($event, awayBench[i].player, 'player')">
            <span class="text">
              <div class="ripple-wrapper ion-activatable ripple-parent">
                {{ awayBench[i].player.first_name }} {{ awayBench[i].player.second_name }}
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </span>
          </ion-col>
          <ion-col size="auto" *ngIf="awayBench[i]" (click)="onItemClick($event, awayBench[i].player, 'player')">
            <div class="square-cell square-squad">
              {{ awayBench[i].jersey_number }}
            </div>
          </ion-col>
          <ion-col size="auto" *ngIf="awayBench[i]">
            <div class="square-cell square-squad">
              <ion-icon [name]="getIconNameByPosition(awayBench[i].position)"
                [ngClass]="awayBench[i].position ? awayBench[i].position : 'unknown'"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="tabhead">
          <ion-col class="ion-text-center">
            rozhodčí
          </ion-col>
        </ion-row>
        <ion-row class="squad-names row-even" *ngIf="game.referee">
          <ion-col size="auto">
            <div class="square-cell square-squad">
              <ion-icon name="stopwatch"></ion-icon>
            </div>
          </ion-col>
          <ion-col class="squad-name-home">
            {{ game.referee.first_name }} {{ game.referee.second_name }}
          </ion-col>
        </ion-row>
        <ion-row class="squad-names row-odd" *ngIf="game.first_ar">
          <ion-col size="auto">
            <div class="square-cell square-squad">
              <ion-icon name="flag"></ion-icon>
            </div>
          </ion-col>
          <ion-col class="squad-name-home">
            {{ game.first_ar.first_name }} {{ game.first_ar.second_name }}
          </ion-col>
        </ion-row>
        <ion-row class="squad-names row-even" *ngIf="game.second_ar">
          <ion-col size="auto">
            <div class="square-cell square-squad">
              <ion-icon name="flag"></ion-icon>
            </div>
          </ion-col>
          <ion-col class="squad-name-home">
            {{ game.second_ar.first_name }} {{ game.referee.second_name }}
          </ion-col>
        </ion-row>
      </ion-grid>
      <div
        *ngIf="homeStarters.length > 0 || homeBench.length > 0 || awayStarters.length > 0 || awayBench.length > 0 && !isLoadingSquadlist"
        class="symbol-description">
        <div class="table-description" *ngIf="positionCounts.goalkeeper > 0">
          <ion-icon name="hand-right" class="goalkeeper"></ion-icon>
          <span class="text">Brankář</span>
        </div>
        <div class="table-description" *ngIf="positionCounts.defender > 0">
          <ion-icon name="shirt" class="defender"></ion-icon>
          <span class="text">Obránce</span>
        </div>
        <div class="table-description" *ngIf="positionCounts.midfielder > 0">
          <ion-icon name="shirt" class="midfielder"></ion-icon>
          <span class="text">Záložník</span>
        </div>
        <div class="table-description" *ngIf="positionCounts.attacker > 0">
          <ion-icon name="shirt" class="attacker"></ion-icon>
          <span class="text">Útočník</span>
        </div>
        <div class="table-description" *ngIf="positionCounts.other > 0">
          <ion-icon name="shirt" class="unknown"></ion-icon>
          <span class="text">Neuvedeno</span>
        </div>
        <div class="table-description" *ngIf="game.referee">
          <ion-icon name="stopwatch" class="referee"></ion-icon>
          <span class="text">Hlavní rozhodčí</span>
        </div>
        <div class="table-description" *ngIf="game.first_ar || game.second_ar">
          <ion-icon name="flag" class="referee"></ion-icon>
          <span class="text">Asistent rozhodčího</span>
        </div>
      </div>
      <div *ngIf="isLoadingSquadlist && !isLoading" class="loading-message">
        <ion-spinner name="bubbles"></ion-spinner>
        <p>Načítám sestavy...</p>
      </div>
      <p *ngIf="game && game.homeTeam && game.awayTeam && homeStarters.length === 0 || homeBench.length === 0 || awayStarters.length === 0 || awayBench.length === 0 && !isLoadingSquadlist && !isLoading"
        class="ion-text-center ion-padding">Sestavy nejsou k dispozici.</p>
    </div>

    <div *ngSwitchCase="'table'">
      <ion-grid *ngIf="leagueTable.length > 0" class="nomp shadow-box">
        <ion-row class="tabhead">

          <ion-col size="auto">
            <div class="square-cell square-inner-header">#</div>
          </ion-col>

          <ion-col size="auto">
            <div class="square-cell square-logo-header"></div>
          </ion-col>

          <ion-col class="team-name-cell">
            tým
          </ion-col>

          <ion-col size="auto">
            <div class="square-cell square-inner-header">Z</div>
          </ion-col>

          <ion-col size="auto">
            <div class="square-cell square-double-header">skóre</div>
          </ion-col>

          <ion-col size="auto">
            <div class="square-cell square-inner-header">B</div>
          </ion-col>

        </ion-row>

        <ion-row *ngFor="let club of leagueTable; let i = index;" class="table-team"
          (click)="onItemClick($event, club, 'team')" [ngClass]="{'row-even': i % 2 === 0, 'row-odd': i % 2 !== 0 }"
          [ngClass]="{ 'highlighted-club': club.id === game.homeTeam.id || club.id === game.awayTeam.id, 'row-even': i % 2 === 0, 'row-odd': i % 2 !== 0 }">
          <div class="ripple-wrapper ion-activatable ripple-parent half-padding">
            <ion-col size="auto">
              <div *ngIf="i == 0" class="square-cell square-inner first-team">{{ i + 1 }}.</div>
              <div *ngIf="i == 9" class="square-cell square-inner last-team">{{ i + 1 }}.</div>
              <div *ngIf="i != 0 && i != 9" class="square-cell square-inner middle-team">{{ i + 1 }}.</div>
            </ion-col>

            <ion-col size="auto">
              <div class="square-cell square-logo">
                <ion-thumbnail class="small fixed">
                  <img [src]="club.photoUrl" alt="{{ club.name }}" />
                </ion-thumbnail>
              </div>
            </ion-col>

            <ion-col class="team-name-cell">
              {{ club.name }}
            </ion-col>

            <ion-col size="auto">
              <div class="square-cell square-inner">{{ club.gamesPlayed }}</div>
            </ion-col>

            <ion-col size="auto">
              <div class="square-cell square-double">{{ club.goalsFor }}:{{ club.goalsAgainst }}</div>
            </ion-col>

            <ion-col size="auto">
              <div class="square-cell square-inner points">{{ club.points }}</div>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-row>
      </ion-grid>
      <div class="symbol-description" *ngIf="leagueTable.length > 0">
        <div class="table-description">
          <ion-icon name="square" class="icon-primary"></ion-icon><ion-text>
            <p>Postup</p>
          </ion-text>
        </div>
        <div class="table-description" *ngIf="leagueTable.length > 0">
          <ion-icon name="square" class="icon-red"></ion-icon><ion-text>
            <p>Sestup</p>
          </ion-text>
        </div>
      </div>
      <div *ngIf="isLoadingTable && !isLoading" class="loading-message">
        <ion-spinner name="bubbles"></ion-spinner>
        <p>Načítám tabulku...</p>
      </div>
      <p *ngIf="leagueTable.length == 0 && game.league && !isLoadingTable && !isLoading"
        class="ion-text-center ion-padding">Tabulka není k dispozici.</p>
    </div>
  </div>
</ion-content>