:root {
  --ion-color-tab-bg: #144330;
  --ion-color-tab: #f5f8f5;
  --ion-color-tab-secondary: #a0faaa;
  --ion-color-primary: #144330;
  --ion-color-primary-rgb: 20, 67, 48;
  --ion-color-secondary: #a0faaa;
  --ion-color-secondary-rgb: 160, 250, 150;
  --ion-color-tertiary: #D9D9D9;
  --ion-color-tertiary-rgb: 217, 217, 217;
  --ion-color-light: #f5f8f5;
  --ion-color-dark: #232323;
  --ion-color-quaternary: #ebf5eb;
  --ion-color-lightblack: #333333;
  --ion-color-dark-green: #171717;

  --ion-font-family: 'RecursoSansRegular';
  --background: var(--ion-color-light);
}

.nomp {
  padding: 0;
  margin: 0;
}

.bg-color {
  --background: var(--ion-color-light);
}

.shadow-box {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

ion-app,
ion-card,
ion-content,
ion-list,
ion-item {
  --background: var(--ion-color-light);
}

// Tabs and toolbar

ion-tab-bar {
  --background: var(--ion-color-tab-bg);
  --color: var(--ion-color-tab-secondary);
  --color-selected: var(--ion-color-tab);
}

ion-toolbar {
  --background: var(--ion-color-tab-bg);
  --color: var(--ion-color-tab);
}

.heart-icon-active-light {
  font-size: 2rem;
  color: var(--ion-color-tab-secondary);
}

.heart-icon-active {
  font-size: 2rem;
  color: var(--ion-color-primary);
}

.heart-icon-deactive {
  font-size: 2rem;
  color: var(--ion-color-tab);
}

.heart-icon-deactive-light {
  font-size: 2rem;
  color: var(--ion-color-primary);
}

ion-menu-button,
ion-back-button {
  color: var(--ion-color-tab);
}


// Card

ion-card-title {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  font-family: "RecursoSansBold";
  color: var(--ion-color-primary);
}

ion-card-subtitle {
  font-size: 1.2rem;
  color: var(--ion-color-primary);
}

ion-card {
  --background: var(--ion-color-quaternary);
}

.cardhdr {
  display: flex;
  align-items: left;
}

ion-thumbnail.prf {
  height: 6rem;
  width: 6rem;
  border-radius: 20%;
  background-color: var(--ion-color-quaternary);
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-thumbnail.prf img {
  height: 80%;
  width: 80%;
}


// Segment

ion-segment-button {
  --background: var(--ion-color-light);
  --color: var(--ion-color-primary);
  --background-checked: var(--ion-color-primary);
  --color-checked: var(--ion-color-light);
  --indicator-color: transparent;
  box-shadow: 0;
  font-family: 'RecursoSansBold';
  border: solid 1px var(--ion-color-primary);
  box-shadow: none;
}

ion-segment-button {
  padding: 0;
  margin: 0 0.5rem 1rem 0.5rem;
  border-radius: 1rem;
}

ion-segment {
  --border-width: 0;
  box-shadow: none;
  border: none;
  --background: var(--ion-color-quaternary);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

ion-card {
  border: none;
  box-shadow: none;
}

.center-toast {
  text-align: center;
}

// Tabulka

.tabhead {
  padding: 0.6rem 0.5rem 0.5rem 0.5rem;
  align-items: center;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "RecursoSansBold";
}

.table-team {
  background-color: var(--ion-color-light);
  align-items: center;
  font-size: 0.9em;
}

.ripple-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
}

.half-padding {
  padding: 0.5rem;
}

ion-grid {
  --ion-grid-padding-top: 0;

  --ion-grid-padding-xs: 0;
  --ion-grid-padding-sm: 0;
  --ion-grid-padding-md: 0;
  --ion-grid-padding-lg: 0;
  --ion-grid-padding-xl: 0;

  --ion-grid-column-padding: 0;

  --ion-grid-column-padding-xs: 0;
  --ion-grid-column-padding-sm: 0;
  --ion-grid-column-padding-md: 0;
  --ion-grid-column-padding-lg: 0;
  --ion-grid-column-padding-xl: 0;
}

ion-col.cntr {
  text-align: center;
}

.first-team,
.middle-team,
.last-team {
  border-radius: 20%;
  font-family: "RecursoSansBold";
}

.points {
  font-family: "RecursoSansBold";
}

.first-team {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
}

.middle-team {
  background-color: var(--ion-color-tertiary);
}

.last-team {
  background-color: darkred;
  color: var(--ion-color-light);
}

.icon-primary {
  color: var(--ion-color-primary);
  border-radius: 20%;
}

.icon-red {
  color: darkred;
}

.table-description {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
}

.symbol-description {
  font-size: 0.8em;
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  opacity: 0.8;
}

.table-description p {
  margin: 0
}

.square-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-inner {
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: 1em;
}

.square-inner-header {
  width: 2rem;
  text-align: center;
  font-size: 1em;
}

.square-double {
  width: 3.5rem;
  height: 2rem;
}

.square-double-header {
  width: 3.5rem;
}

.square-logo {
  width: 2.5rem;
  height: 2rem;
  justify-content: center;
}


.square-logo-table {
  width: 2.8rem;
  height: 2rem;
  justify-content: center;
}

.square-logo-header {
  width: 2.5rem;
}

.team-name-cell {
  flex: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}

ion-thumbnail.small.fixed {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

}

ion-thumbnail.small.fixed img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}


.row-odd {
  background-color: var(--ion-color-light);
}

.row-even {
  background-color: var(--ion-color-quaternary);
}

.highlighted-club {
  background-color: var(--ion-color-secondary);
}

// Zápasy

p.result {
  font-size: 1rem;
  font-weight: bold;
}

.tnc-away {
  justify-content: flex-end;
}


ion-thumbnail.home {
  margin-right: 10px;
}

ion-thumbnail.away {
  margin-left: 10px;
}

.p-nomar p {
  margin: 0;
}

p.nomar {
  margin: 0;
}

.p-nopad p {
  padding: 0;
}

.roundanddate {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
  padding: 0.8rem 1rem 0.5rem 1rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

.main-info {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}


// List

.no-border {
  --inner-border-width: 0;
}


// Spinner 

.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}


@media screen and (max-width: 375px) {
  .table-team {
    font-size: 0.8em;
  }
}

/* Dark theme přepisky */
.ion-palette-dark.ios,
.ion-palette-dark.md {
  :root {
    --background: var(--ion-color-dark);
  }

  --ion-color-secondary: #144330;
  --ion-color-secondary-rgb: 20,
  67,
  48;
  --ion-color-primary: #a0faaa;
  --ion-color-primary-rgb: 160,
  250,
  150;
  --ion-color-lightblack: #D9D9D9;
  --ion-color-lightblack-rgb: 217,
  217,
  217;
  --ion-color-dark: #f5f8f5;
  --ion-color-light: #232323;
  --ion-color-lightblack: #ebf5eb;
  --ion-color-tertiary: #333333;
  --ion-color-quaternary: #171717;
  --ion-color-tertiary-rbg: 51,
  51,
  51;

  .shadow-box {
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
  }

  ion-thumbnail {
    background-color: var(--ion-color-dark);
  }

  ion-card-title {
    color: var(--ion-color-dark);
  }

  .last-team {
    color: var(--ion-color-dark);
  }

}