<ion-menu content-id="players-content" menu-id="players-detail-menu" (ionDidOpen)="onMenuOpened()">
  <ion-header>
    <ion-toolbar>
      <ion-title>Oblíbení hráči</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="favoritePlayers.length > 0; else noFavorites">
      <ion-item *ngFor="let player of favoritePlayers" (click)="onItemClick($event, player)">
        <ion-thumbnail slot="start">
          <img [src]="player.photoUrl" alt="{{ player.name }}" />
        </ion-thumbnail>
        <ion-label>{{ player.name }}</ion-label>
        <ion-button slot="end" fill="clear" (click)="toggleFavoriteFromMenu(player, 'player')" color="danger">
          <ion-icon class="heart-icon-active" name="heart"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ng-template #noFavorites>
      <p class="ion-padding">Nemáte žádné oblíbené hráče.</p>
    </ng-template>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true" id="players-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="players-detail-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="player && !isLoading">{{ player.first_name }} {{ player.second_name }}</ion-title>
    <ion-title *ngIf="isLoading">Načítám hráče...</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="player && !isLoading" slot="end" fill="clear" (click)="toggleFavorite(player, 'player')"
        [color]="isFavoriteItem('player', player.id) ? 'danger' : 'medium'">
        <ion-icon [class]="isFavoriteItem('player', player.id) ? 'heart-icon-active-light' : 'heart-icon-deactive'"
          name="heart"></ion-icon>
      </ion-button>
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="player && team && !isLoading">
    <ion-grid class="ion-padding">
      <ion-row class="ion-align-items-center">
        <ion-col size="6rem">
          <ion-thumbnail class="prf">
            <img [src]="player.photoUrl" alt="{{ player.name }}" />
          </ion-thumbnail>
        </ion-col>
        <ion-col class="ion-padding">
          <ion-card-title>{{ player.first_name}}  {{ player.second_name }}</ion-card-title>
          <ion-card-subtitle>{{ team.name }}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="results">
      Odehrané zápasy
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'results'">
      <ion-list *ngIf="games && !isLoading">
        <ion-item *ngFor="let game of games">
          <ion-label>
            <ion-grid fixed="true">
              <ion-row>
                <ion-col class="ion-text-center ion-padding">
                  <h2>{{ game.round_number }}. kolo - {{ game.date | date:'dd. MM. yyyy'}}</h2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-left flex-start" size="2rem">
                  <ion-thumbnail class="small fixed home">
                    <img [src]="game.homeTeam.photoUrl" alt="{{ game.homeTeam.name }}" />
                  </ion-thumbnail>
                </ion-col>
                <ion-col class="ion-text-left flex-start">
                  <p>{{ game.homeTeam.name }}</p>
                </ion-col>
                <ion-col class="ion-text-center" size="2rem">
                  <p class="result">{{ game.result }}</p>
                </ion-col>
                <ion-col class="ion-text-right flex-end">
                  <p>{{ game.awayTeam.name }}</p>
                </ion-col>
                <ion-col class="ion-text-right flex-end" size="2rem">
                  <ion-thumbnail class="small fixed away">
                    <img [src]="game.awayTeam.photoUrl" alt="{{ game.awayTeam.name }}" />
                  </ion-thumbnail>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="ion-text-left ion-padding" *ngIf="player.team_id != game.away_team_id">
                  <h2>{{ game.role }}</h2>
                  <p *ngIf="game.playerGoalsCount == 0">{{ game.playerGoalsCount }} gólů</p>
                  <p *ngIf="game.playerGoalsCount == 1">{{ game.playerGoalsCount }} gól {{ game.playerGoalsMinutes }}
                  </p>
                  <p *ngIf="game.playerGoalsCount > 1">{{ game.playerGoalsCount }} góly {{ game.playerGoalsMinutes }}
                  </p>
                </ion-col>
                <ion-col class="ion-text-right ion-padding" *ngIf="player.team_id == game.away_team_id">
                  <h2>{{ game.role }}</h2>
                  <p *ngIf="game.playerGoalsCount == 0">{{ game.playerGoalsCount }} gólů</p>
                  <p *ngIf="game.playerGoalsCount == 1">{{ game.playerGoalsCount }} gól {{ game.playerGoalsMinutes }}
                  </p>
                  <p *ngIf="game.playerGoalsCount > 1">{{ game.playerGoalsCount }} góly {{ game.playerGoalsMinutes }}
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<!--
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigateToTab('tab1')">
      <ion-icon aria-hidden="true" name="football-outline"></ion-icon>
      <ion-label>Týmy</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateToTab('tab2')">
      <ion-icon aria-hidden="true" name="git-branch-outline"></ion-icon>
      <ion-label>Soutěže</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateToTab('tab3')">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Hráči</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateToTab('tab4')">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Nastavení</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
-->