<ion-app>
  <ion-menu content-id="main-content" menu-id="dynamic-menu" (ionDidOpen)="onMenuOpened()">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          {{ activeTab === 'league' ? 'Oblíbené soutěže' : 
             activeTab === 'team' ? 'Oblíbené týmy' : 
             'Oblíbení hráči' }}
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngIf="favoriteItems[activeTab].length > 0; else noFavorites">
        <ion-item *ngFor="let item of favoriteItems[activeTab]" (click)="onItemClick($event, item, activeTab)">
          <ion-grid class="nomp">
            <ion-row class="league-row">
              <ion-col size="auto">
                <div class="square-cell square-logo">
          <ion-thumbnail slot="start" class="small fixed">
            <img [src]="item.photoUrl" alt="{{ item.name }}" />
          </ion-thumbnail>
        </div>
      </ion-col>
      <ion-col class="team-name-cell">
            {{ item.name }}

        </ion-col>
        <ion-col size="auto">
        <div class="square-cell square-inner">
          <ion-button fill="clear" (click)="toggleFavorite(item, activeTab)" color="danger">
            <ion-icon class="heart-icon-active" name="heart"></ion-icon>
          </ion-button>
        </div>
        </ion-col>
      </ion-row>
        </ion-grid>
        </ion-item>
      </ion-list>
      <ng-template #noFavorites>
        <p class="ion-padding">Nemáte žádné oblíbené položky.</p>
      </ng-template>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>