<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Zápasy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-button (click)="isDateModalOpen = true">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        {{ selectedDate | date: 'dd.MM.yyyy' }}
      </ion-button>
    </ion-card-header>
    <ion-spinner *ngIf="isLoading" name="crescent" class="ion-padding"></ion-spinner>
    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="gamesGroupedByLeague | keyvalue as leagues">
        <ng-container *ngFor="let league of leagues">
          <h2 class="ion-text-center">{{ league.key }}</h2>
          <ion-list>
            <ion-item *ngFor="let game of league.value">
              <ion-label>
                <ion-grid fixed="true">
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <h2>{{ game.round_number }}. kolo - {{ game.date | date:'HH:mm' }}</h2>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-left flex-start" size="2rem">
                      <ion-thumbnail class="small fixed home">
                        <img [src]="game.homeTeam.photoUrl" alt="{{ game.homeTeam.name }}" />
                      </ion-thumbnail>
                    </ion-col>
                    <ion-col class="ion-text-left flex-start">
                      <p>{{ game.homeTeam.name }}</p>
                    </ion-col>
                    <ion-col class="ion-text-center" size="2rem">
                      <p *ngIf="game.result" class="result">{{ game.result }}</p>
                      <p *ngIf="!game.result" class="result">-</p>
                    </ion-col>
                    <ion-col class="ion-text-right flex-end">
                      <p>{{ game.awayTeam.name }}</p>
                    </ion-col>
                    <ion-col class="ion-text-right flex-end" size="2rem">
                      <ion-thumbnail class="small fixed away">
                        <img [src]="game.awayTeam.photoUrl" alt="{{ game.awayTeam.name }}" />
                      </ion-thumbnail>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>
          </ion-list>
        </ng-container>
      </ng-container>
    </ng-container>
    <h3 *ngIf="hasNoGames" class="ion-text-center ion-padding">
      Tento den se nehrají žádná utkání.
    </h3>
  </ion-card>
</ion-content>

<ion-modal [isOpen]="isDateModalOpen" (didDismiss)="isDateModalOpen = false" cssClass="custom-date-modal">
  <ng-template>
    <div class="centered-container">
      <ion-datetime presentation="date" [value]="selectedDate" (ionChange)="onDateChange($event)"
        show-default-buttons="true" done-text="OK" cancel-text="Zrušit" class="ion-margin">
      </ion-datetime>
    </div>
  </ng-template>
</ion-modal>