<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="dynamic-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Zápasy
      </ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="'../../search'">
          <ion-icon slot="icon-only" name="search" class="color-light"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card class="nomp">
    <ion-card-header>
      <ion-button (click)="isDateModalOpen = true">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        {{ selectedDate | date: 'dd.MM.yyyy' }}
      </ion-button>
    </ion-card-header>
  </ion-card>
  <div *ngIf="isLoading" class="loading-message">
    <ion-spinner name="bubbles"></ion-spinner>
    <p>Načítám zápasy...</p>
  </div> 
    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="games | keyvalue as leagues">
        <ng-container *ngFor="let league of leagues">
          <div class="ion-text-center tabhead">{{ league.key }}</div>
          <ion-list>
            <ion-item *ngFor="let game of league.value" class="no-border bg-color" (click)="goToGameDetail(game.id)" button detail="false">
              <ion-grid fixed="true" class="p-nomar">
                <div class="shadow-box">
                  <div class="rounded-item">
                  <ion-row class="roundanddate">
                    <ion-col size="6" class="ion-text-left">
                      <p>{{ game.round_number }}. kolo</p>
                    </ion-col>
                    <ion-col size="6" class="ion-text-right">
                      <p>{{ game.date | date:'dd. MM. yyyy'}}</p>
                    </ion-col>
    
                  </ion-row>
                  <ion-row class="ion-align-items-center main-info">
    
                    <ion-col size="auto">
                      <div class="square-cell square-logo">
                        <ion-thumbnail class="small fixed">
                          <img [src]="game.homeTeam.photoUrl" alt="{{ game.homeTeam.name }}" />
                        </ion-thumbnail>
                      </div>
                    </ion-col>
    
                    <ion-col class="team-name-cell">
                      {{ game.homeTeam.name }}
                    </ion-col>
    
                    <ion-col size="auto">
                      <div class="square-cell square-double">
                        <p *ngIf="game.result" class="result">{{ game.result }}</p>
                        <p *ngIf="!game.result" class="result">-</p>
                      </div>
                    </ion-col>
    
                    <ion-col class="team-name-cell tnc-away ion-text-right">
                      {{ game.awayTeam.name }}
                    </ion-col>
    
                    <ion-col size="auto">
                      <div class="square-cell square-logo">
                        <ion-thumbnail class="small fixed">
                          <img [src]="game.awayTeam.photoUrl" alt="{{ game.awayTeam.name }}" />
                        </ion-thumbnail>
                      </div>
                    </ion-col>
    
                  </ion-row>
                </div>
              </div>
              </ion-grid>
            
            </ion-item>
          </ion-list>
        </ng-container>
      </ng-container>
    </ng-container>
    <p *ngIf="hasNoGames" class="ion-text-center ion-padding">
      Tento den se nehrají žádná utkání.
    </p>
</ion-content>

<ion-modal [isOpen]="isDateModalOpen" (didDismiss)="isDateModalOpen = false" cssClass="custom-date-modal">
  <ng-template>
    <div class="centered-container">
      <ion-datetime presentation="date" [value]="selectedDate" (ionChange)="onDateChange($event)"
        show-default-buttons="true" done-text="OK" cancel-text="Zrušit" class="ion-margin">
      </ion-datetime>
    </div>
  </ng-template>
</ion-modal>