<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="dynamic-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        {{ activeTab === 'league' ? 'Soutěže' :
        activeTab === 'team' ? 'Týmy' :
        'Hráči' }}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="'../../search'">
          <ion-icon slot="icon-only" name="search" class="color-light"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <h2 class="tabhead nomp ion-text-left">vyhledávání podle názvu</h2>
    <div class="custom-mp bg-ligt">
        <ion-searchbar class="search-color" [placeholder]="activeTab === 'league' ? 'Hledat soutěž...' : 
                      activeTab === 'team' ? 'Hledat tým...' : 
                      'Hledat hráče...'" [(ngModel)]="searchQuery" (ionInput)="onSearchInput(activeTab)">
        </ion-searchbar>
        <ion-list *ngIf="filteredResults.length > 0" >
          <ion-item *ngFor="let result of filteredResults" (click)="onItemClick($event, result, activeTab)">
            <ion-grid class="nomp">
              <ion-row class="league-row">
                <ion-col size="auto">
                  <div class="square-cell square-logo">
                    <ion-thumbnail slot="start" class="small fixed">
                      <img [src]="result.photoUrl" alt="{{ result.name }}" />
                    </ion-thumbnail>
                  </div>
                </ion-col>
                <ion-col class="team-name-cell">
                  {{ result.name }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
    </div>
    <h2 class="tabhead nomp ion-text-left">
      {{ activeTab === 'league' ? 'vyhledávání podle organizace' :
      activeTab === 'team' ? 'vyhledávání podle lokace nebo soutěže' :
      'vyhledávání podle týmu' }}</h2>

    <div class="bg-light custom-mp">
      <div *ngIf="activeTab === 'league'">
        <app-league-navigator>
        </app-league-navigator>
      </div>
      <div *ngIf="activeTab === 'team'">
        <app-team-navigator>
        </app-team-navigator>
      </div>
      <div *ngIf="activeTab === 'player'">
        <app-player-navigator>
        </app-player-navigator>
      </div>
    </div>
    <h2 class="tabhead nomp ion-text-left">
      {{ activeTab === 'league' ? 'oblíbené soutěže' :
      activeTab === 'team' ? 'oblíbené týmy' :
      'oblíbení hráči' }}</h2>
    <ion-list *ngIf="favoriteItems[activeTab].length > 0; else noFavorites">
      <ion-item *ngFor="let item of favoriteItems[activeTab]" (click)="onItemClick($event, item, activeTab)">
        <ion-grid class="nomp">
          <ion-row class="league-row">
            <ion-col size="auto">
              <div class="square-cell square-logo">
                <ion-thumbnail slot="start" class="small fixed">
                  <img [src]="item.photoUrl" alt="{{ item.name }}" />
                </ion-thumbnail>
              </div>
            </ion-col>
            <ion-col class="team-name-cell">
              {{ item.name }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ng-template #noFavorites>
      <p class="ion-padding ion-text-center">Nemáte žádné oblíbené položky.</p>
    </ng-template>
  </ion-content>
</ion-app>