.row-odd {
  background-color: var(--ion-color-theme-bg);
}

.row-even {
  background-color: var(--ion-color-theme-bg-secondary);
}

.highlighted-club {
  background-color: var(--ion-color-secondary);
}

.first-team,
.middle-team,
.last-team {
  border-radius: 20%;
  font-family: "RecursoSansBold";
}

.points {
  font-family: "RecursoSansBold";
}

.first-team {
  background-color: var(--ion-color-yellow);
  color: var(--ion-color-theme-bg);
}

.middle-team {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-theme-bg);
}

.last-team {
  background-color: var(--ion-color-red);
  color: var(--ion-color-theme-bg);
}