<!-- Organizace -->
<ng-container>
  <div class="navigator-item level1" (click)="toggleItem('list', 1)">
    <ion-label>Týmy podle soutěže</ion-label>
    <ion-icon [name]="isItemOpen.list[1] ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
  </div>

  <!-- Výpis organizací -->
  <ng-container *ngIf="isItemOpen.list[1]">
    <ng-container *ngFor="let org of organizations">

      <!-- Speciální organizace (Celostátní, Čechy, Morava) -->
      <ng-container *ngIf="specialOrganizations.includes(org.name)">
        <div class="navigator-item level2" (click)="toggleItem('organization', org.id)">
          <ion-label>{{ org.name }}</ion-label>
          <ion-icon [name]="isItemOpen.organization[org.id] ? 'chevron-up' : 'chevron-down'" slot="end">
          </ion-icon>
        </div>

        <!-- Soutěže pod organizací Celostátní, Čechy, Morava -->
        <ng-container *ngIf="isItemOpen.organization[org.id]">
          <ng-container *ngFor="let league of getLeaguesByOrganization(org.id)">
            <div class="navigator-item level3" (click)="toggleItem('league', league.id)">
              <ion-label>{{ league.name }}</ion-label>
              <ion-icon [name]="isItemOpen.league[league.id] ? 'chevron-up' : 'chevron-down'" slot="end">
              </ion-icon>
            </div>

            <!-- Týmy -->
            <ng-container *ngIf="isItemOpen.league[league.id]">
              <ng-container *ngFor="let team of getTeamsByLeague(league.id)">
                <div (click)="toggleItem('orgTeam', team.id)" class="navigator-item level4">
                  <ion-label>{{ team.name }}</ion-label>
                  <ion-icon [name]="isItemOpen.orgTeam[team.id] ? 'chevron-up' : 'chevron-down'" slot="end">
                  </ion-icon>
                </div>

                <!-- Hráči -->
                <ng-container *ngIf="isItemOpen.orgTeam[team.id]">
                  <ion-list>
                    <div *ngFor="let player of getPlayersByTeam(team.id)"
                      (click)="onItemClick($event, player, 'player')" class="level5 team-grid">
                      <ion-item button>
                        <ion-grid class="nomp">
                          <ion-row class="league-row">
                            <ion-col size="auto">
                              <div class="square-cell square-logo">
                                <ion-thumbnail class="small fixed">
                                  <img [src]="player.photoUrl" alt="{{ player.first_name }} {{ player.second_name }}" />
                                </ion-thumbnail>
                              </div>
                            </ion-col>
                            <ion-col class="team-name-cell">
                              {{ player.first_name }} {{ player.second_name }}
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                    </div>
                  </ion-list>
                </ng-container>

              </ng-container>
            </ng-container>

          </ng-container>
        </ng-container>

      </ng-container>

      <!-- Kraj -->
      <ng-container *ngIf="!specialOrganizations.includes(org.name) && org.name === 'Kraj'">
        <div class="navigator-item level2" (click)="toggleItem('organization', org.id)">
          <ion-label>Krajské</ion-label>
          <ion-icon [name]="isItemOpen.organization[org.id] ? 'chevron-up' : 'chevron-down'" slot="end">
          </ion-icon>
        </div>

        <!-- Kraje -->
        <ng-container *ngIf="isItemOpen.organization[org.id]">
          <ng-container *ngFor="let region of regions">
            <div class="navigator-item level3" (click)="toggleItem('region', region.id)">
              <ion-label>{{ region.name }}</ion-label>
              <ion-icon [name]="isItemOpen.region[region.id] ? 'chevron-up' : 'chevron-down'" slot="end">
              </ion-icon>
            </div>

            <!-- Soutěže v kraji -->
            <ng-container *ngIf="isItemOpen.region[region.id] && org.name === 'Kraj'">
              <ng-container *ngFor="let league of getLeaguesByRegion(region.id)">
                <div class="navigator-item level4" (click)="toggleItem('league', league.id)">
                  <ion-label>{{ league.name }}</ion-label>
                  <ion-icon [name]="isItemOpen.league[league.id] ? 'chevron-up' : 'chevron-down'" slot="end">
                  </ion-icon>
                </div>

                <!-- Týmy -->
                <ng-container *ngIf="isItemOpen.league[league.id]">
                  <ng-container *ngFor="let team of getTeamsByLeague(league.id)">
                    <div (click)="toggleItem('orgTeam', team.id)" class="navigator-item level5">
                      <ion-label>{{ team.name }}</ion-label>
                      <ion-icon [name]="isItemOpen.orgTeam[team.id] ? 'chevron-up' : 'chevron-down'" slot="end">
                      </ion-icon>
                    </div>

                    <!-- Hráči -->
                    <ng-container *ngIf="isItemOpen.orgTeam[team.id]">
                      <ion-list>
                        <div *ngFor="let player of getPlayersByTeam(team.id)"
                          (click)="onItemClick($event, player, 'player')" class="level6 team-grid">
                          <ion-item button>
                            <ion-grid class="nomp">
                              <ion-row class="league-row">
                                <ion-col size="auto">
                                  <div class="square-cell square-logo">
                                    <ion-thumbnail class="small fixed">
                                      <img [src]="player.photoUrl"
                                        alt="{{ player.first_name }} {{ player.second_name }}" />
                                    </ion-thumbnail>
                                  </div>
                                </ion-col>
                                <ion-col class="team-name-cell">
                                  {{ player.first_name }} {{ player.second_name }}
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-item>
                        </div>
                      </ion-list>
                    </ng-container>

                  </ng-container>
                </ng-container>

              </ng-container>
            </ng-container>

          </ng-container>
        </ng-container>

      </ng-container>

      <!-- Okres -->
      <ng-container *ngIf="!specialOrganizations.includes(org.name) && org.name === 'Okres'">
        <div class="navigator-item level2" (click)="toggleItem('organization', org.id)">
          <ion-label>Okresní</ion-label>
          <ion-icon [name]="isItemOpen.organization[org.id] ? 'chevron-up' : 'chevron-down'" slot="end">
          </ion-icon>
        </div>

        <!-- Kraje -->
        <ng-container *ngIf="isItemOpen.organization[org.id]">
          <ng-container *ngFor="let region of regions">
            <div class="navigator-item level3" (click)="toggleItem('regionUnderDistricts', region.id)">
              <ion-label>{{ region.name }}</ion-label>
              <ion-icon [name]="isItemOpen.regionUnderDistricts[region.id] ? 'chevron-up' : 'chevron-down'" slot="end">
              </ion-icon>
            </div>

            <!-- Okresy v kraji -->
            <ng-container *ngIf="isItemOpen.regionUnderDistricts[region.id] && org.name === 'Okres'">
              <ng-container *ngFor="let district of getDistrictsByRegion(region.id)">
                <div class="navigator-item level4" (click)="toggleItem('district', district.id)">
                  <ion-label>{{ district.name }}</ion-label>
                  <ion-icon [name]="isItemOpen.district[district.id] ? 'chevron-up' : 'chevron-down'" slot="end">
                  </ion-icon>
                </div>

                <!-- Soutěže pod okresy -->
                <ng-container *ngIf="isItemOpen.district[district.id]">
                  <ng-container *ngFor="let league of getLeaguesByDistrict(district.id)">
                    <div class="navigator-item level5" (click)="toggleItem('league', league.id)">
                      <ion-label>{{ league.name }}</ion-label>
                      <ion-icon [name]="isItemOpen.league[league.id] ? 'chevron-up' : 'chevron-down'" slot="end">
                      </ion-icon>
                    </div>

                    <!-- Týmy -->
                    <ng-container *ngIf="isItemOpen.league[league.id]">
                      <ng-container *ngFor="let team of getTeamsByLeague(league.id)">
                        <div (click)="toggleItem('orgTeam', team.id)" class="navigator-item level6">
                          <ion-label>{{ team.name }}</ion-label>
                          <ion-icon [name]="isItemOpen.orgTeam[team.id] ? 'chevron-up' : 'chevron-down'" slot="end">
                          </ion-icon>
                        </div>

                        <!-- Hráči -->
                        <ng-container *ngIf="isItemOpen.orgTeam[team.id]">
                          <ion-list>
                            <div *ngFor="let player of getPlayersByTeam(team.id)"
                              (click)="onItemClick($event, player, 'player')" class="level7 team-grid">
                              <ion-item button>
                                <ion-grid class="nomp">
                                  <ion-row class="league-row">
                                    <ion-col size="auto">
                                      <div class="square-cell square-logo">
                                        <ion-thumbnail class="small fixed">
                                          <img [src]="player.photoUrl"
                                            alt="{{ player.first_name }} {{ player.second_name }}" />
                                        </ion-thumbnail>
                                      </div>
                                    </ion-col>
                                    <ion-col class="team-name-cell">
                                      {{ player.first_name }} {{ player.second_name }}
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-item>
                            </div>
                          </ion-list>
                        </ng-container>

                      </ng-container>
                    </ng-container>

                  </ng-container>
                </ng-container>

              </ng-container>
            </ng-container>

          </ng-container>

        </ng-container>
      </ng-container>

    </ng-container>
  </ng-container>


  <!-- Lokace -->
  <div class="navigator-item level1" (click)="toggleItem('list', 2)">
    <ion-label>Týmy podle lokace</ion-label>
    <ion-icon [name]="isItemOpen.list[2] ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
  </div>

  <!-- Kraje -->
  <ng-container *ngIf="isItemOpen.list[2]">
    <ng-container *ngFor="let region of regions">
      <div class="navigator-item level2" (click)="toggleItem('locRegion', region.id)">
        <ion-label>{{ region.name }}</ion-label>
        <ion-icon [name]="isItemOpen.locRegion[region.id] ? 'chevron-up' : 'chevron-down'" slot="end">
        </ion-icon>
      </div>

      <!-- Okresy -->
      <ng-container *ngIf="isItemOpen.locRegion[region.id]">
        <ng-container *ngFor="let district of getDistrictsByRegion(region.id)">
          <div class="navigator-item level3" (click)="toggleItem('locDistrict', district.id)">
            <ion-label>{{ district.name }}</ion-label>
            <ion-icon [name]="isItemOpen.locDistrict[district.id] ? 'chevron-up' : 'chevron-down'" slot="end">
            </ion-icon>
          </div>

          <!-- Týmy -->
          <ng-container *ngIf="isItemOpen.locDistrict[district.id]">
            <ng-container *ngFor="let team of getTeamsByDistrict(district.id)">
              <div (click)="toggleItem('locTeam', team.id)" class="navigator-item level4">
                <ion-label>{{ team.name }}</ion-label>
                <ion-icon [name]="isItemOpen.locTeam[team.id] ? 'chevron-up' : 'chevron-down'" slot="end">
                </ion-icon>
              </div>

              <!-- Hráči -->
              <ng-container *ngIf="isItemOpen.locTeam[team.id]">
                <ion-list>
                  <div *ngFor="let player of getPlayersByTeam(team.id)" (click)="onItemClick($event, player, 'player')"
                    class="level5 team-grid">
                    <ion-item button>
                      <ion-grid class="nomp">
                        <ion-row class="league-row">
                          <ion-col size="auto">
                            <div class="square-cell square-logo">
                              <ion-thumbnail class="small fixed">
                                <img [src]="player.photoUrl" alt="{{ player.first_name }} {{ player.second_name }}" />
                              </ion-thumbnail>
                            </div>
                          </ion-col>
                          <ion-col class="team-name-cell">
                            {{ player.first_name }} {{ player.second_name }}
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                  </div>
                </ion-list>
              </ng-container>

            </ng-container>
          </ng-container>

        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <div class="navigator-item level1" (click)="toggleItem('list', 3)">
    <ion-label>Hráči bez angažmá</ion-label>
    <ion-icon [name]="isItemOpen.list[3] ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
  </div>
  <!-- Hráči -->
  <ng-container *ngIf="isItemOpen.list[3]">
    <ion-list>
      <div *ngFor="let player of getPlayersWithoutTeam()" (click)="onItemClick($event, player, 'player')"
        class="level2 team-grid">
        <ion-item button>
          <ion-grid class="nomp">
            <ion-row class="league-row">
              <ion-col size="auto">
                <div class="square-cell square-logo">
                  <ion-thumbnail class="small fixed">
                    <img [src]="player.photoUrl" alt="{{ player.first_name }} {{ player.second_name }}" />
                  </ion-thumbnail>
                </div>
              </ion-col>
              <ion-col class="team-name-cell">
                {{ player.first_name }} {{ player.second_name }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </ion-list>
  </ng-container>
</ng-container>