ion-searchbar {
    --background: transparent;
    --box-shadow: none;
    --color: white;
    --icon-color: white;
    --clear-button-color: white;
  }

ion-item {
    display: flex;
    align-items: center;
  }
  
  ion-avatar img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }