ion-searchbar {
    --background: transparent;
    --box-shadow: none;
    --color: white;
    --icon-color: white;
    --clear-button-color: white;
  }

ion-segment-button {
    --color: var(--ion-color-dark);
}

@media (prefers-color-scheme: dark) {
    ion-segment-button {
        --color: var(--ion-color-light);
        --color-checked: var(--ion-color-secondary);
    }

}

@media (prefers-color-scheme: light) {
    ion-segment-button{
        --color-checked: var(--ion-color-primary);
    }
}