<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nastavení
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset="true">
    <ion-item>
      <ion-toggle [checked]="isDarkMode" (ionChange)="toggleDarkMode($event)" justify="space-between"
        id="paletteToggle">Tmavý režim</ion-toggle>
    </ion-item>
  </ion-list>

  <h2 class="tabhead ion-text-center">Preferovaná záložka</h2>
<ion-radio-group [(ngModel)]="preferredTab" (ionChange)="savePreferredTab($event.detail.value)">
  <ion-list inset="true" class="nomp">
    <ion-item>
      <ion-label>Týmy</ion-label>
      <ion-radio slot="end" value="team"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Ligy</ion-label>
      <ion-radio slot="end" value="league"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Hráči</ion-label>
      <ion-radio slot="end" value="player"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Zápasy</ion-label>
      <ion-radio slot="end" value="games"></ion-radio>
    </ion-item>
  </ion-list>
</ion-radio-group>
<p class="ion-padding ion-text-center">Zvolená záložka se zobrazí při spuštění aplikace.</p>
</ion-content>